In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
from sqlite3 import connect

In [41]:
shooting = pd.read_csv("data/lmpd_shootings.csv")
lmpd = pd.read_csv("data/ot_added_all.csv")

In [42]:
lmpd['Department'].unique()

array(['Louisville Metro Police Department', 'Parks & Recreation',
       'Other Statutory Obligations', 'Metro Corrections',
       'Louisville Fire', 'Department of Corrections',
       'Emergency Mgt Agency/MetroSafe', 'ES & MetroSafe',
       'Louisville Metro EMS', 'Emergency Management Services',
       'Louisville Metro Police', 'Youth Detention Services',
       'Public Works & Assets', 'Solid Waste Management',
       'Louisville Zoo', 'Public Health & Wellness',
       'Metro Animal Services', 'Public Works',
       'Youth Transitional Services', 'Belle of Louisville',
       'Records Compliance', 'Human Resources',
       'Louisville Free Public Library', 'Codes & Regulations',
       'Human Services', 'Inspections, Permits & License',
       'Office for Safe & Healthy Neighborhoods',
       'Parking Authority of River Cty',
       'Facilities and Fleet Management',
       'Parking Authority of River City - PARC', 'Library',
       'Develop Louisville', 'Technology Services', 'OMB Finance',
       'Finance', 'Alcohol Beverage Control',
       'Kentuckiana Works Foundation', 'KentuckianaWorks',
       'Metro Technology Services', 'Office of Equity', 'Metro Council',
       'Mayor Office', 'Office of Resilience and Community Services',
       'Safe & Healthy Neighborhoods',
       'PWA - Solid Waste Management Services',
       'Office of Housing & Community Development', 'Office of Planning',
       'Revenue Commission', "Mayor's Office",
       'Criminal Justice Commission', 'APCD',
       'Waterfront Development Corp', 'Office of Inspector General',
       'Jefferson County Coroner', 'Human Relations Commission',
       'Metro TV', 'Air Pollution Control',
       'Office of Performance Improvmt',
       'Waterfront Development Corporation', 'Office of Sustainability',
       'Brightside', 'Economic Development', 'County Attorney', 'Coroner',
       'Other Officials', 'Jefferson County Attorney',
       'Commonwealth Attorney', 'Internal Auditor',
       'Office of Performance Improvement', 'Office of Internal Audit',
       'Group Violence Intervention', 'Office of Philanthropy'],
      dtype=object)

In [43]:
lmpd = lmpd[(lmpd['Department'] == "Louisville Metro Police Department") | (lmpd['Department'] == "Louisville Metro Police")]
lmpd.head()

,Unnamed: 0,CalYear,Employee_Name,Department,jobTitle,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,Other,YTD_Total,ObjectId,Hr_Rate,Ot_Rate,Hr_Worked
0,9291,2023,"Ingram, Lydia Ann",Louisville Metro Police Department,LMPD Service Center Technician,41995.2,0.00,151.43,0.00,0.0,151.43,9292,0.000000,0.000000,inf
53,28134,2020,"Patterson, William",Louisville Metro Police,Police Sergeant,71448.0,9691.28,14040.60,4240.80,11721.6,39694.28,28135,4.659269,6.988904,78.634319
71,8164,2023,"Williams, Derrick D",Louisville Metro Police Department,Police Officer,75462.4,50270.10,69444.05,7685.63,715.0,128114.78,8165,24.168317,36.252476,76.837829
85,9084,2023,"Mattiche, Youssef",Louisville Metro Police Department,Police Officer,72862.4,50943.72,68303.79,6786.84,130.0,126164.35,9085,24.492173,36.738260,75.753855
105,8446,2023,"Jenkins, Todd Barry",Louisville Metro Police Department,Police Sergeant,92872.0,64424.36,84087.13,6899.98,65.0,155476.47,8447,30.973250,46.459875,74.805522

In [44]:
lmpd['CalYear'].unique()

array([2023, 2020, 2022, 2021, 2018, 2019])

In [45]:
conn = connect(':memory:')
# create tables
shooting.to_sql("shooting", conn)
lmpd.to_sql("lmpd", conn)
# convenient function
def sql(a_string):
    return(pd.read_sql(a_string, conn))

In [46]:
sql("SELECT distinct CalYear FROM lmpd")

   CalYear
0     2023
1     2020
2     2022
3     2021
4     2018
5     2019